In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import category_encoders as ce

In [57]:
data = pd.read_csv("Train_B_Bayesian.csv")

In [58]:
data
# df = data.drop(columns = ['is_patient'])
df = data
df

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [59]:
df1 = df.sample(frac=1)
df1

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
570,16,Male,2.6,1.2,236,131,90,5.4,2.6,0.90,1
19,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
324,60,Male,2.6,1.2,171,42,37,5.4,2.7,1.00,1
501,36,Male,2.8,1.5,305,28,76,5.9,2.5,0.70,1
555,55,Male,0.8,0.2,290,139,87,7.0,3.0,0.70,1
...,...,...,...,...,...,...,...,...,...,...,...
176,55,Male,0.8,0.2,482,112,99,5.7,2.6,0.80,1
80,58,Female,2.4,1.1,915,60,142,4.7,1.8,0.60,1
155,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1
193,49,Male,1.3,0.4,206,30,25,6.0,3.1,1.06,2
416,70,Male,0.6,0.1,862,76,180,6.3,2.7,0.75,1

In [60]:
df1 = df1.reset_index(drop=True)
df1

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,16,Male,2.6,1.2,236,131,90,5.4,2.6,0.90,1
1,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
2,60,Male,2.6,1.2,171,42,37,5.4,2.7,1.00,1
3,36,Male,2.8,1.5,305,28,76,5.9,2.5,0.70,1
4,55,Male,0.8,0.2,290,139,87,7.0,3.0,0.70,1
...,...,...,...,...,...,...,...,...,...,...,...
578,55,Male,0.8,0.2,482,112,99,5.7,2.6,0.80,1
579,58,Female,2.4,1.1,915,60,142,4.7,1.8,0.60,1
580,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1
581,49,Male,1.3,0.4,206,30,25,6.0,3.1,1.06,2
582,70,Male,0.6,0.1,862,76,180,6.3,2.7,0.75,1

In [61]:
# df_old holds df of before Shuffling
df_old = df
df = df1
df

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,16,Male,2.6,1.2,236,131,90,5.4,2.6,0.90,1
1,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
2,60,Male,2.6,1.2,171,42,37,5.4,2.7,1.00,1
3,36,Male,2.8,1.5,305,28,76,5.9,2.5,0.70,1
4,55,Male,0.8,0.2,290,139,87,7.0,3.0,0.70,1
...,...,...,...,...,...,...,...,...,...,...,...
578,55,Male,0.8,0.2,482,112,99,5.7,2.6,0.80,1
579,58,Female,2.4,1.1,915,60,142,4.7,1.8,0.60,1
580,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1
581,49,Male,1.3,0.4,206,30,25,6.0,3.1,1.06,2
582,70,Male,0.6,0.1,862,76,180,6.3,2.7,0.75,1

In [62]:
encoder= ce.OrdinalEncoder(cols=['gender'],return_df=True,
                           mapping=[{'col':'gender',
'mapping':{'Male':1,'Female':2}}])
df_transformed = encoder.fit_transform(df)
df_transformed

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,16,1,2.6,1.2,236,131,90,5.4,2.6,0.90,1
1,40,2,0.9,0.3,293,232,245,6.8,3.1,0.80,1
2,60,1,2.6,1.2,171,42,37,5.4,2.7,1.00,1
3,36,1,2.8,1.5,305,28,76,5.9,2.5,0.70,1
4,55,1,0.8,0.2,290,139,87,7.0,3.0,0.70,1
...,...,...,...,...,...,...,...,...,...,...,...
578,55,1,0.8,0.2,482,112,99,5.7,2.6,0.80,1
579,58,2,2.4,1.1,915,60,142,4.7,1.8,0.60,1
580,34,1,8.7,4.0,298,58,138,5.8,2.4,0.70,1
581,49,1,1.3,0.4,206,30,25,6.0,3.1,1.06,2
582,70,1,0.6,0.1,862,76,180,6.3,2.7,0.75,1

In [63]:
# df_before_encoding holds df of before Gender encoding
df_before_encoding = df
df = df_transformed
df

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,16,1,2.6,1.2,236,131,90,5.4,2.6,0.90,1
1,40,2,0.9,0.3,293,232,245,6.8,3.1,0.80,1
2,60,1,2.6,1.2,171,42,37,5.4,2.7,1.00,1
3,36,1,2.8,1.5,305,28,76,5.9,2.5,0.70,1
4,55,1,0.8,0.2,290,139,87,7.0,3.0,0.70,1
...,...,...,...,...,...,...,...,...,...,...,...
578,55,1,0.8,0.2,482,112,99,5.7,2.6,0.80,1
579,58,2,2.4,1.1,915,60,142,4.7,1.8,0.60,1
580,34,1,8.7,4.0,298,58,138,5.8,2.4,0.70,1
581,49,1,1.3,0.4,206,30,25,6.0,3.1,1.06,2
582,70,1,0.6,0.1,862,76,180,6.3,2.7,0.75,1

In [64]:
df_before_encoding.to_csv('df_before_encoding.csv')
df_before_outlier = df
df_before_outlier.to_csv('df_before_outlier.csv')

In [65]:
genders = df['gender']
df3 = df.drop(columns = ['gender'])
df3['gender'] = genders
df3
df = df3

In [66]:
train_ind = int(0.7*df.shape[0])
df_train = df.iloc[:train_ind] 
df_test = df.iloc[train_ind:] 
print(df_train.shape,df_test.shape,df.shape)

(408, 11) (175, 11) (583, 11)

In [67]:
df_train.describe()

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient,gender
count,408.000000,408.00000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,405.000000,408.000000,408.000000
mean,44.230392,3.23652,1.451716,279.671569,77.669118,108.164216,6.519608,3.194363,0.968691,1.289216,1.274510
std,16.386483,6.50297,2.850888,219.498020,159.916735,298.954789,1.100216,0.797966,0.324100,0.453955,0.446815
min,4.000000,0.40000,0.100000,63.000000,10.000000,11.000000,2.700000,0.900000,0.300000,1.000000,1.000000
25%,32.000000,0.80000,0.200000,178.750000,24.000000,25.000000,5.800000,2.600000,0.780000,1.000000,1.000000
50%,45.000000,1.00000,0.300000,205.000000,35.000000,40.000000,6.600000,3.200000,1.000000,1.000000,1.000000
75%,58.000000,2.42500,1.200000,290.000000,60.000000,84.500000,7.200000,3.900000,1.100000,2.000000,2.000000
max,85.000000,75.00000,19.700000,1896.000000,1680.000000,4929.000000,9.600000,5.500000,2.800000,2.000000,2.000000

In [68]:
outliers = {}
means = list(df_train.mean())
stds = list(df_train.std())
j=0
for i in df_train.columns:
    if(i=='gender'):
        break
    upper_bound = 2*means[j] + 5*stds[j]
    l_out = df_train.index[(df_train[i]>upper_bound)]
    outliers[i] = l_out
    j+=1
outliers

{'age': Int64Index([], dtype='int64'),
 'tot_bilirubin': Int64Index([73, 270], dtype='int64'),
 'direct_bilirubin': Int64Index([205, 270], dtype='int64'),
 'tot_proteins': Int64Index([320], dtype='int64'),
 'albumin': Int64Index([119, 150, 276], dtype='int64'),
 'ag_ratio': Int64Index([150], dtype='int64'),
 'sgpt': Int64Index([], dtype='int64'),
 'sgot': Int64Index([], dtype='int64'),
 'alkphos': Int64Index([], dtype='int64'),
 'is_patient': Int64Index([], dtype='int64')}

In [69]:
outliers.keys()

dict_keys(['age', 'tot_bilirubin', 'direct_bilirubin', 'tot_proteins', 'albumin', 'ag_ratio', 'sgpt', 'sgot', 'alkphos', 'is_patient'])

In [70]:
final_list = []
for i in outliers.keys():
    final_list.extend(outliers[i])
final_list = sorted(set(final_list))
df_train_with_outliers = df_train
df_train_with_outliers.to_csv('df_train_with_outliers.csv')

In [71]:
df_train = df_train.drop(final_list)
df_train_without_outliers = df_train
df_train_without_outliers.to_csv('df_train_without_outliers.csv')
df_train

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient,gender
0,16,2.6,1.2,236,131,90,5.4,2.6,0.9,1,1
1,40,0.9,0.3,293,232,245,6.8,3.1,0.8,1,2
2,60,2.6,1.2,171,42,37,5.4,2.7,1.0,1,1
3,36,2.8,1.5,305,28,76,5.9,2.5,0.7,1,1
4,55,0.8,0.2,290,139,87,7.0,3.0,0.7,1,1
...,...,...,...,...,...,...,...,...,...,...,...
403,13,0.7,0.1,182,24,19,8.9,4.9,1.2,1,2
404,52,0.6,0.1,171,22,16,6.6,3.6,1.2,1,1
405,58,1.0,0.4,182,14,20,6.8,3.4,1.0,1,1
406,45,0.8,0.2,165,22,18,8.2,4.1,1.0,1,2
407,40,3.9,1.7,350,950,1500,6.7,3.8,1.3,1,1

In [72]:
df_train = df_train.reset_index(drop=True)
df_train.to_csv('df_train_cleaned.csv')

In [241]:
df_train

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient,gender
0,16,2.6,1.2,236,131,90,5.4,2.6,0.9,1,1
1,40,0.9,0.3,293,232,245,6.8,3.1,0.8,1,2
2,60,2.6,1.2,171,42,37,5.4,2.7,1.0,1,1
3,36,2.8,1.5,305,28,76,5.9,2.5,0.7,1,1
4,55,0.8,0.2,290,139,87,7.0,3.0,0.7,1,1
...,...,...,...,...,...,...,...,...,...,...,...
396,13,0.7,0.1,182,24,19,8.9,4.9,1.2,1,2
397,52,0.6,0.1,171,22,16,6.6,3.6,1.2,1,1
398,58,1.0,0.4,182,14,20,6.8,3.4,1.0,1,1
399,45,0.8,0.2,165,22,18,8.2,4.1,1.0,1,2
400,40,3.9,1.7,350,950,1500,6.7,3.8,1.3,1,1

In [242]:
# prob_patient = {}
# prob_patient[1] = 0
# prob_patient[2] = 0
# for i in range(len(df_train)):
#     if(df_train['is_patient'][i]==1):
#         prob_patient[1]+=1
#     else:
#         prob_patient[2]+=1
# prob_patient[1]/=len(df_train)
# prob_patient[2]/=len(df_train)
# print(prob_patient)

# df_train_cat_1 = df_train[df_train['is_patient']==1]
# df_train_cat_2 = df_train[df_train['is_patient']==2]
# print(df_train_cat_1.shape,df_train_cat_2.shape)

# prob_gender_1 = {}
# prob_gender_1[1] = df_train_cat_1[df_train_cat_1['gender']==1].shape[0]
# prob_gender_1[2] = df_train_cat_1[df_train_cat_1['gender']==2].shape[0]
# prob_gender_2 = {}
# prob_gender_2[1] = df_train_cat_2[df_train_cat_2['gender']==1].shape[0]
# prob_gender_2[2] = df_train_cat_2[df_train_cat_2['gender']==2].shape[0]
# prob_gender_1[1]/=df_train_cat_1.shape[0]
# prob_gender_1[2]/=df_train_cat_1.shape[0]
# prob_gender_2[1]/=df_train_cat_2.shape[0]
# prob_gender_2[2]/=df_train_cat_2.shape[0]
# cat_1_means = df_train_cat_1.mean()
# cat_1_stds = df_train_cat_1.std()
# cat_2_means = df_train_cat_2.mean()
# cat_2_stds = df_train_cat_2.std()

In [243]:
def normal_distribution(x , mean , sd):
    prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    return prob_density

In [244]:
def calc_proba(inp,prob_patient,prob_gender,cat_means,cat_stds):
    prob = prob_patient
    prob *= prob_gender[inp['gender']]
    for i in df_train.columns:
        if(i=='is_patient'):
            break
        else:
            prob *= normal_distribution(inp[i],cat_means[i],cat_stds[i])
    return prob*1000

In [253]:
def initalise(df_p_train):
    prob_patient = {}
    prob_patient[1] = 0
    prob_patient[2] = 0
    # print(len(df_p_train))
    for i in range(len(df_p_train)):
        if(df_p_train.iloc[i]['is_patient']==1):
            prob_patient[1]+=1
        else:
            prob_patient[2]+=1
    prob_patient[1]/=len(df_p_train)
    prob_patient[2]/=len(df_p_train)
    # print(prob_patient)

    df_train_cat_1 = df_p_train[df_p_train['is_patient']==1]
    df_train_cat_2 = df_p_train[df_p_train['is_patient']==2]
    # print(df_train_cat_1.shape,df_train_cat_2.shape)

    prob_gender_1 = {}
    prob_gender_1[1] = df_train_cat_1[df_train_cat_1['gender']==1].shape[0]
    prob_gender_1[2] = df_train_cat_1[df_train_cat_1['gender']==2].shape[0]
    prob_gender_2 = {}
    prob_gender_2[1] = df_train_cat_2[df_train_cat_2['gender']==1].shape[0]
    prob_gender_2[2] = df_train_cat_2[df_train_cat_2['gender']==2].shape[0]
    prob_gender_1[1]/=df_train_cat_1.shape[0]
    prob_gender_1[2]/=df_train_cat_1.shape[0]
    prob_gender_2[1]/=df_train_cat_2.shape[0]
    prob_gender_2[2]/=df_train_cat_2.shape[0]
    cat_1_means = df_train_cat_1.mean()
    cat_1_stds = df_train_cat_1.std()
    cat_2_means = df_train_cat_2.mean()
    cat_2_stds = df_train_cat_2.std()
    return prob_patient,prob_gender_1,prob_gender_2,cat_1_means,cat_1_stds,cat_2_means,cat_2_stds

In [254]:
def classify(inp,prob_patient,prob_gender_1,cat_1_means,cat_1_stds,prob_gender_2,cat_2_means,cat_2_stds):
    if(calc_proba(inp,prob_patient[1],prob_gender_1,cat_1_means,cat_1_stds)>=calc_proba(inp,prob_patient[2],prob_gender_2,cat_2_means,cat_2_stds)):
        return 1
    else:
        return 2

In [255]:
def find_accuracy(df_p_train,df_p_test):
    # predictions = []
    accuracy = 0
    prob_patient, prob_gender_1, prob_gender_2, cat_1_means, cat_1_stds, cat_2_means, cat_2_stds = initalise(df_p_train)
    for i in range(df_p_test.shape[0]):
        pred = classify(df_p_test.iloc[i,:],prob_patient,prob_gender_1,cat_1_means,cat_1_stds,prob_gender_2,cat_2_means,cat_2_stds)
        # predictions.append(pred)
        if(pred == df_p_test.iloc[i]['is_patient']):
            accuracy+=1
    accuracy/=df_p_test.shape[0]
    # print(predictions)
    # print(df_test['is_patient'])
    return accuracy
# df_test

In [256]:
def five_fold_cross_validation(df_train):
    length = df_train.shape[0]
    part_len = length//5
    mean_accuracy = 0
    for i in range(5):
        df_p_test = pd.DataFrame(df_train.iloc[part_len*i:part_len*i+part_len])
        df_p_train = pd.DataFrame(df_train.iloc[:part_len*i])
        df_p_train_2 = pd.DataFrame(df_train.iloc[part_len*i+part_len:])
        # print(df_p_test.shape,df_p_train.shape,df_train.shape)
        df_p_train = pd.concat([df_p_train,df_p_train_2])
        # print(df_p_test.shape,df_p_train.shape,df_train.shape)
        # print(df_p_test)
        mean_accuracy += find_accuracy(df_p_train,df_p_test)
    mean_accuracy/=5
    print("Five Fold mean accuracy = ",mean_accuracy)
        # print(df_p_test)
        # print("")
        # print("")
        # print("")

In [257]:
# find_accuracy(df_test.iloc[0:3])

In [258]:
five_fold_cross_validation(df_train)

Five Fold mean accuracy =  0.7074999999999999