In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import category_encoders as ce

In [64]:
data = pd.read_csv("Train_B_Bayesian.csv")

In [65]:
data
# df = data.drop(columns = ['is_patient'])
df = data
df

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [66]:
df1 = df.sample(frac=1)
df1

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
95,75,Male,0.9,0.2,282,25,23,4.4,2.2,1.00,1
46,21,Male,3.9,1.8,150,36,27,6.8,3.9,1.34,1
430,53,Female,0.7,0.1,182,20,33,4.8,1.9,0.60,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
302,50,Female,1.7,0.6,430,28,32,6.8,3.5,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...
368,42,Female,0.8,0.2,182,22,20,7.2,3.9,1.10,1
510,37,Female,0.8,0.2,205,31,36,9.2,4.6,1.00,2
339,75,Male,1.4,0.4,215,50,30,5.9,2.6,0.70,1
47,40,Male,1.1,0.3,230,1630,960,4.9,2.8,1.30,1
367,60,Male,2.2,1.0,271,45,52,6.1,2.9,0.90,2

In [67]:
df1 = df1.reset_index(drop=True)
df1

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,75,Male,0.9,0.2,282,25,23,4.4,2.2,1.00,1
1,21,Male,3.9,1.8,150,36,27,6.8,3.9,1.34,1
2,53,Female,0.7,0.1,182,20,33,4.8,1.9,0.60,1
3,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,50,Female,1.7,0.6,430,28,32,6.8,3.5,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...
578,42,Female,0.8,0.2,182,22,20,7.2,3.9,1.10,1
579,37,Female,0.8,0.2,205,31,36,9.2,4.6,1.00,2
580,75,Male,1.4,0.4,215,50,30,5.9,2.6,0.70,1
581,40,Male,1.1,0.3,230,1630,960,4.9,2.8,1.30,1
582,60,Male,2.2,1.0,271,45,52,6.1,2.9,0.90,2

In [68]:
# df_old holds df of before Shuffling
df_old = df
df = df1
df

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,75,Male,0.9,0.2,282,25,23,4.4,2.2,1.00,1
1,21,Male,3.9,1.8,150,36,27,6.8,3.9,1.34,1
2,53,Female,0.7,0.1,182,20,33,4.8,1.9,0.60,1
3,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,50,Female,1.7,0.6,430,28,32,6.8,3.5,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...
578,42,Female,0.8,0.2,182,22,20,7.2,3.9,1.10,1
579,37,Female,0.8,0.2,205,31,36,9.2,4.6,1.00,2
580,75,Male,1.4,0.4,215,50,30,5.9,2.6,0.70,1
581,40,Male,1.1,0.3,230,1630,960,4.9,2.8,1.30,1
582,60,Male,2.2,1.0,271,45,52,6.1,2.9,0.90,2

In [69]:
encoder= ce.OrdinalEncoder(cols=['gender'],return_df=True,
                           mapping=[{'col':'gender',
'mapping':{'Male':1,'Female':2}}])
df_transformed = encoder.fit_transform(df)
df_transformed

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,75,1,0.9,0.2,282,25,23,4.4,2.2,1.00,1
1,21,1,3.9,1.8,150,36,27,6.8,3.9,1.34,1
2,53,2,0.7,0.1,182,20,33,4.8,1.9,0.60,1
3,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,50,2,1.7,0.6,430,28,32,6.8,3.5,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...
578,42,2,0.8,0.2,182,22,20,7.2,3.9,1.10,1
579,37,2,0.8,0.2,205,31,36,9.2,4.6,1.00,2
580,75,1,1.4,0.4,215,50,30,5.9,2.6,0.70,1
581,40,1,1.1,0.3,230,1630,960,4.9,2.8,1.30,1
582,60,1,2.2,1.0,271,45,52,6.1,2.9,0.90,2

In [70]:
# df_before_encoding holds df of before Gender encoding
df_before_encoding = df
df = df_transformed
df

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,75,1,0.9,0.2,282,25,23,4.4,2.2,1.00,1
1,21,1,3.9,1.8,150,36,27,6.8,3.9,1.34,1
2,53,2,0.7,0.1,182,20,33,4.8,1.9,0.60,1
3,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,50,2,1.7,0.6,430,28,32,6.8,3.5,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...
578,42,2,0.8,0.2,182,22,20,7.2,3.9,1.10,1
579,37,2,0.8,0.2,205,31,36,9.2,4.6,1.00,2
580,75,1,1.4,0.4,215,50,30,5.9,2.6,0.70,1
581,40,1,1.1,0.3,230,1630,960,4.9,2.8,1.30,1
582,60,1,2.2,1.0,271,45,52,6.1,2.9,0.90,2

In [71]:
df_before_encoding.to_csv('df_before_encoding.csv')
df_before_outlier = df
df_before_outlier.to_csv('df_before_outlier.csv')

In [72]:
genders = df['gender']
df3 = df.drop(columns = ['gender'])
df3['gender'] = genders
df3
df = df3

In [73]:
train_ind = int(0.7*df.shape[0])
df_train = df.iloc[:train_ind] 
df_test = df.iloc[train_ind:] 
print(df_train.shape,df_test.shape,df.shape)

(408, 11) (175, 11) (583, 11)

In [74]:
df_train.describe()

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient,gender
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,405.000000,408.000000,408.000000
mean,44.975490,3.539951,1.592157,306.090686,83.840686,123.142157,6.433824,3.095098,0.933654,1.267157,1.252451
std,16.248663,6.609077,2.883936,266.019922,177.990190,327.316142,1.089951,0.794437,0.322129,0.443018,0.434952
min,4.000000,0.500000,0.100000,63.000000,10.000000,11.000000,2.700000,0.900000,0.300000,1.000000,1.000000
25%,33.000000,0.800000,0.200000,178.750000,24.000000,26.000000,5.700000,2.575000,0.700000,1.000000,1.000000
50%,45.000000,1.100000,0.400000,215.000000,36.000000,42.000000,6.500000,3.100000,0.900000,1.000000,1.000000
75%,57.250000,2.725000,1.400000,309.250000,64.750000,92.750000,7.100000,3.700000,1.100000,2.000000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000,2.000000

In [77]:
outliers = {}
means = list(df_train.mean())
stds = list(df_train.std())
j=0
for i in df_train.columns:
    if(i=='gender'):
        break
    upper_bound = 2*means[j] + 5*stds[j]
    l_out = list(df_train.index[(df_train[i]>upper_bound)])
    outliers[i] = l_out
    j+=1
outliers

{'age': [],
 'tot_bilirubin': [72, 374],
 'direct_bilirubin': [72, 359],
 'tot_proteins': [172],
 'albumin': [68, 259, 304, 320],
 'ag_ratio': [68, 304],
 'sgpt': [],
 'sgot': [],
 'alkphos': [],
 'is_patient': []}

In [78]:
outliers.keys()

dict_keys(['age', 'tot_bilirubin', 'direct_bilirubin', 'tot_proteins', 'albumin', 'ag_ratio', 'sgpt', 'sgot', 'alkphos', 'is_patient'])

In [79]:
final_list = []
for i in outliers.keys():
    final_list.extend(outliers[i])
final_list = sorted(set(final_list))
df_train_with_outliers = df_train
df_train_with_outliers.to_csv('df_train_with_outliers.csv')

In [80]:
df_train = df_train.drop(final_list)
df_train_without_outliers = df_train
df_train_without_outliers.to_csv('df_train_without_outliers.csv')
df_train

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient,gender
0,75,0.9,0.2,282,25,23,4.4,2.2,1.00,1,1
1,21,3.9,1.8,150,36,27,6.8,3.9,1.34,1,1
2,53,0.7,0.1,182,20,33,4.8,1.9,0.60,1,2
3,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1,1
4,50,1.7,0.6,430,28,32,6.8,3.5,1.00,1,2
...,...,...,...,...,...,...,...,...,...,...,...
403,50,0.7,0.2,188,12,14,7.0,3.4,0.90,1,1
404,65,1.4,0.6,260,28,24,5.2,2.2,0.70,2,1
405,66,1.0,0.3,190,30,54,5.3,2.1,0.60,1,1
406,34,4.1,2.0,289,875,731,5.0,2.7,1.10,1,1
407,32,0.7,0.2,189,22,43,7.4,3.1,0.70,2,1

In [81]:
df_train = df_train.reset_index(drop=True)
df_train.to_csv('df_train_cleaned.csv')

In [82]:
df_train

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient,gender
0,75,0.9,0.2,282,25,23,4.4,2.2,1.00,1,1
1,21,3.9,1.8,150,36,27,6.8,3.9,1.34,1,1
2,53,0.7,0.1,182,20,33,4.8,1.9,0.60,1,2
3,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1,1
4,50,1.7,0.6,430,28,32,6.8,3.5,1.00,1,2
...,...,...,...,...,...,...,...,...,...,...,...
395,50,0.7,0.2,188,12,14,7.0,3.4,0.90,1,1
396,65,1.4,0.6,260,28,24,5.2,2.2,0.70,2,1
397,66,1.0,0.3,190,30,54,5.3,2.1,0.60,1,1
398,34,4.1,2.0,289,875,731,5.0,2.7,1.10,1,1
399,32,0.7,0.2,189,22,43,7.4,3.1,0.70,2,1

In [83]:
def normal_distribution(x , mean , sd):
    prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    return prob_density

In [84]:
def calc_proba(inp,prob_patient,prob_gender,cat_means,cat_stds):
    prob = prob_patient
    prob *= prob_gender[inp['gender']]
    for i in df_train.columns:
        if(i=='is_patient'):
            break
        else:
            prob *= normal_distribution(inp[i],cat_means[i],cat_stds[i])
    return prob*1000

In [85]:
def initalise(df_p_train,laplace_factor):
    prob_patient = {}
    prob_patient[1] = 0
    prob_patient[2] = 0
    # print(len(df_p_train))
    for i in range(len(df_p_train)):
        if(df_p_train.iloc[i]['is_patient']==1):
            prob_patient[1]+=1
        else:
            prob_patient[2]+=1
    prob_patient[1]/=len(df_p_train)
    prob_patient[2]/=len(df_p_train)
    # print(prob_patient)

    df_train_cat_1 = df_p_train[df_p_train['is_patient']==1]
    df_train_cat_2 = df_p_train[df_p_train['is_patient']==2]
    # print(df_train_cat_1.shape,df_train_cat_2.shape)

    prob_gender_1 = {}
    prob_gender_1[1] = (df_train_cat_1[df_train_cat_1['gender']==1].shape[0]+1*laplace_factor)
    prob_gender_1[2] = (df_train_cat_1[df_train_cat_1['gender']==2].shape[0]+1*laplace_factor)
    prob_gender_2 = {}
    prob_gender_2[1] = (df_train_cat_2[df_train_cat_2['gender']==1].shape[0]+1*laplace_factor)
    prob_gender_2[2] = (df_train_cat_2[df_train_cat_2['gender']==2].shape[0]+1*laplace_factor)
    prob_gender_1[1]/=(df_train_cat_1.shape[0]+2*laplace_factor)
    prob_gender_1[2]/=(df_train_cat_1.shape[0]+2*laplace_factor)
    prob_gender_2[1]/=(df_train_cat_2.shape[0]+2*laplace_factor)
    prob_gender_2[2]/=(df_train_cat_2.shape[0]+2*laplace_factor)
    cat_1_means = df_train_cat_1.mean()
    cat_1_stds = df_train_cat_1.std()
    cat_2_means = df_train_cat_2.mean()
    cat_2_stds = df_train_cat_2.std()
    return prob_patient,prob_gender_1,prob_gender_2,cat_1_means,cat_1_stds,cat_2_means,cat_2_stds

In [86]:
def classify(inp,prob_patient,prob_gender_1,cat_1_means,cat_1_stds,prob_gender_2,cat_2_means,cat_2_stds):
    if(calc_proba(inp,prob_patient[1],prob_gender_1,cat_1_means,cat_1_stds)>=calc_proba(inp,prob_patient[2],prob_gender_2,cat_2_means,cat_2_stds)):
        return 1
    else:
        return 2

In [87]:
def find_accuracy(df_p_train,df_p_test,laplace_factor):
    # predictions = []
    accuracy = 0
    prob_patient, prob_gender_1, prob_gender_2, cat_1_means, cat_1_stds, cat_2_means, cat_2_stds = initalise(df_p_train,laplace_factor)
    for i in range(df_p_test.shape[0]):
        pred = classify(df_p_test.iloc[i,:],prob_patient,prob_gender_1,cat_1_means,cat_1_stds,prob_gender_2,cat_2_means,cat_2_stds)
        # predictions.append(pred)
        if(pred == df_p_test.iloc[i]['is_patient']):
            accuracy+=1
    accuracy/=df_p_test.shape[0]
    # print(predictions)
    # print(df_test['is_patient'])
    return accuracy
# df_test

In [88]:
def five_fold_cross_validation(df_train,laplace_factor):
    length = df_train.shape[0]
    part_len = length//5
    mean_accuracy = 0
    pred=0
    for i in range(5):
        df_p_test = pd.DataFrame(df_train.iloc[part_len*i:part_len*i+part_len])
        df_p_train = pd.DataFrame(df_train.iloc[:part_len*i])
        df_p_train_2 = pd.DataFrame(df_train.iloc[part_len*i+part_len:])
        # print(df_p_test.shape,df_p_train.shape,df_train.shape)
        df_p_train = pd.concat([df_p_train,df_p_train_2])
        # print(df_p_test.shape,df_p_train.shape,df_train.shape)
        # print(df_p_test)
        pred = find_accuracy(df_p_train,df_p_test,laplace_factor)
        print(pred)
        mean_accuracy+=pred
    mean_accuracy/=5
    print("Five Fold mean accuracy = ",mean_accuracy)
        # print(df_p_test)
        # print("")
        # print("")
        # print("")

In [89]:
# find_accuracy(df_test.iloc[0:3])

In [90]:
five_fold_cross_validation(df_train,0)

0.7625
0.6625
0.7375
0.7375
0.725
Five Fold mean accuracy =  0.7249999999999999

In [91]:
pred = find_accuracy(df_train,df_test,0)
print("Test data accuracy = ",pred)

Test data accuracy =  0.6742857142857143

In [92]:
pred = find_accuracy(df_train,df_test,1)
print("Test data accuracy = ",pred)

Test data accuracy =  0.6742857142857143